<% content_for :title do %>GitHub Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="code" data-view="List" data-unordered="true" data-title="Programming Languages" data-moreinfo="Bytes of code in each language"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="commits" data-view="Graph" data-title="Daily Commits" style="background-color:#ff9618"></div>
    </li>
  
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="repos" data-view="Number" data-title="Repos" data-moreinfo="Number of Repositories" data-prefix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="stars" data-view="List" data-unordered="true" data-title="Stars" data-moreinfo="# of Github Repo Stars" style="background-color:#EC663C"></div>
    </li>
  
  </ul>
</div>
